In [1]:
import pandas as pd
df= pd.read_csv('https://raw.githubusercontent.com/srinivasav22/Graduate-Admission-Prediction/master/Admission_Predict_Ver1.1.csv')

In [2]:
df

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
495,496,332,108,5,4.5,4.0,9.02,1,0.87
496,497,337,117,5,5.0,5.0,9.87,1,0.96
497,498,330,120,5,4.5,5.0,9.56,1,0.93
498,499,312,103,4,4.0,5.0,8.43,0,0.73
499,500,327,113,4,4.5,4.5,9.04,0,0.84

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         500 non-null    int64
 1   GRE Score          500 non-null    int64
 2   TOEFL Score        500 non-null    int64
 3   University Rating  500 non-null    int64
 4   SOP                500 non-null    float64
 5   LOR                500 non-null    float64
 6   CGPA               500 non-null    float64
 7   Research           500 non-null    int64
 8   Chance of Admit    500 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 35.3 KB

In [5]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Serial No.,500.0,250.50000,144.481833,1.00,125.7500,250.50,375.25,500.00
GRE Score,500.0,316.47200,11.295148,290.00,308.0000,317.00,325.00,340.00
TOEFL Score,500.0,107.19200,6.081868,92.00,103.0000,107.00,112.00,120.00
University Rating,500.0,3.11400,1.143512,1.00,2.0000,3.00,4.00,5.00
SOP,500.0,3.37400,0.991004,1.00,2.5000,3.50,4.00,5.00
LOR,500.0,3.48400,0.925450,1.00,3.0000,3.50,4.00,5.00
CGPA,500.0,8.57644,0.604813,6.80,8.1275,8.56,9.04,9.92
Research,500.0,0.56000,0.496884,0.00,0.0000,1.00,1.00,1.00
Chance of Admit,500.0,0.72174,0.141140,0.34,0.6300,0.72,0.82,0.97

In [13]:
df['Chance of Admit '].unique()

array([0.92, 0.76, 0.72, 0.8 , 0.65, 0.9 , 0.75, 0.68, 0.5 , 0.45, 0.52,
       0.84, 0.78, 0.62, 0.61, 0.54, 0.66, 0.63, 0.64, 0.7 , 0.94, 0.95,
       0.97, 0.44, 0.46, 0.74, 0.91, 0.88, 0.58, 0.48, 0.49, 0.53, 0.87,
       0.86, 0.89, 0.82, 0.56, 0.36, 0.42, 0.47, 0.55, 0.57, 0.96, 0.93,
       0.38, 0.34, 0.79, 0.71, 0.69, 0.59, 0.85, 0.77, 0.81, 0.83, 0.67,
       0.73, 0.6 , 0.43, 0.51, 0.39, 0.37])

In [14]:
X= df.drop('Chance of Admit ', axis=1)  # Chance of admit is dependent feature
y=df['Chance of Admit ']

In [16]:
import numpy as np
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [17]:
X_train.shape

(400, 8)

In [18]:
X_test.shape

(100, 8)

In [19]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()

In [20]:
X_train_sc= sc.fit_transform(X_train)

In [21]:
X_test_sc= sc.transform(X_test)

# SVR

In [22]:
from sklearn.svm import SVR   # import SVR
sv= SVR()

In [23]:
sv.fit(X_train_sc,y_train)

SVR()

In [24]:
y_predict= sv.predict(X_test_sc)

In [25]:
y_predict

array([0.85371174, 0.72469892, 0.56584486, 0.68702739, 0.7835292 ,
       0.84327195, 0.5067859 , 0.6372382 , 0.72429225, 0.75278575,
       0.58977387, 0.71933767, 0.62622994, 0.88324968, 0.80244016,
       0.45301674, 0.78283592, 0.50197611, 0.51751607, 0.58611395,
       0.65723469, 0.54319283, 0.73510421, 0.77898058, 0.73756081,
       0.59078269, 0.84436677, 0.84195971, 0.59458639, 0.75054951,
       0.56591068, 0.75828855, 0.57771581, 0.83919419, 0.58399224,
       0.76068926, 0.49976718, 0.8833599 , 0.66376118, 0.66471284,
       0.86602271, 0.5145898 , 0.63263642, 0.85644524, 0.85664451,
       0.47456731, 0.87297127, 0.76307963, 0.76577514, 0.85668772,
       0.81462879, 0.55304386, 0.66812754, 0.53208886, 0.90483811,
       0.56639375, 0.87190142, 0.61587237, 0.67569141, 0.44666676,
       0.59550769, 0.7200251 , 0.59292627, 0.62707003, 0.48141922,
       0.54018177, 0.83329508, 0.8397658 , 0.67789096, 0.69525545,
       0.65479724, 0.7892208 , 0.69779705, 0.58685634, 0.51032547,
       0.71254612, 0.80130661, 0.84810982, 0.44075274, 0.61073732,
       0.68170267, 0.79485374, 0.64350695, 0.80642194, 0.74863781,
       0.65843351, 0.60405127, 0.73190458, 0.76826779, 0.69967067,
       0.74399847, 0.83585207, 0.87506851, 0.69692069, 0.77117064,
       0.47285736, 0.63323013, 0.69474882, 0.72274634, 0.539267  ])

In [26]:
sv.score(X_test_sc, y_test)  # accuracy

0.7694039832232465

In [29]:
from sklearn.linear_model import LinearRegression

lr= LinearRegression()

In [30]:
lr.fit(X_train_sc, y_train)

LinearRegression()

In [31]:
lr.score(X_test_sc,y_test)  # accuracy is 82.6% using linear regression

0.8263481396039751

# RIDGE

In [32]:
from sklearn.linear_model import Ridge
ridge= Ridge()

In [33]:
ridge.fit(X_train_sc, y_train)

Ridge()

In [34]:
ridge.score(X_test_sc,y_test)  # accuracy is 82.6% using ridge

0.8262782802636405